:root {
    --primary-bg: #fff; /* Primary background */
    --secondary-bg: #b18eb6; /* Secondary background */
    --primary-font: #000000; /* Primary font */
    --secondary-font: #fffff; /* Secondary font */
    --fondo-opcional: #f4edfa; /* fondo opcional al principal*/
    --sombra-opcional: rgb(82, 33, 102); /* sombra opcional --sombra */
    --sombra: #b18eb6; /*sombra suave */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    max-width: 1024px;
    max-height: 768px;
    background: var(--primary-bg);
    font-family: Roboto, sans-serif; /* Fuente para el cuerpo del documento */
   
}
/* Estilo Header */
header{
    background: var(--primary-bg);
    display: block;
    box-sizing: border-box;
    
}

.block_logo{
    text-align:center;
}

.block_logo .logo{
    width: auto;
    height: 200px;
}

.logo {
    max-width: 80%; /* 50% of the viewport width */
}

.barra_nav ul{
    margin: auto;
    padding:25px;
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: none;

    
    
}

.barra_nav ul li{
    
    border: 1px #f4edfa solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    transition: .3s ease all;


}

.barra_nav ul li a{
    text-decoration: none;
    color:rgb(38, 65, 71);

}

.barra_nav ul li:hover{
    border: 1px #f4edfa solid;
    box-shadow: var(--sombra) 2px 3px 4px 3px;

}

/* Fin Estilos Header*/

footer {
    background-color: var(--secondary-bg); /* Color de fondo del pie de página */
    color: var(--primary-font); /* Color del texto del pie de página */
    padding: 20px; /* Espaciado interno del pie de página */
    text-align: center; /* Alineación del texto centrada */
}

.logoFooter{
    max-width: 45%;
}

/* Redes sociales */
.redsoc {
    color: white;
    font-size: 4vw;
    margin:3%;
    width: 6%;
    bottom:4%;
    transition: all 0.3s ease-in;
}
/* Cambia color icono Redes sociales */
.redsoc:hover{
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
/* Prueba Cambia colores icono Redes sociales */
@keyframes cambiarColor {
    0% {color: red;}
    50% {color: green;}
    75% {color: blue;}
    100% {color: black;}
   
   }
/* Whatsapp */
   .whatsapp{
    position:fixed;
    width: 6%;
    bottom: 4%;
    right: 4%;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}
/* Whatsapp cambia tamaño cuando se pasa por arriba */
.whatsapp:hover{
    transform: scale(1.5, 1.5);
    transition: all 0.3s ease-in-out;
    /* width: 5%; */
}