/* Todos los estilos para el Formulario */
*{
  font-family: Roboto, sans-serif; 
}

form {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 1%;
}

/* input[type=text] {
  padding: 0.5%;
  margin: 0.5%;
  width: 60%;
}

input[type=email], [type=tel] {
  padding: 0.5%;
  margin: 0.5%;
  width: 30%;
}

textarea {
    width: 80%;
    padding: 0.5%;
    margin: 0.5%;
} */

.container {
    display: grid; /* Habilito grid */
    grid-template-columns: 50% 50%;
    width: 97%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item1, .item2 {
    padding: 10px;
    margin: 2px;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #b18eb6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #9e8ddb;;
  }

  .form-name {
    font-size: 15px;
    width: 80%;
    height: 25px; /* Ajusta la altura según desees */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5%;
    margin: 0.5%;
  }

  .form-email {
    font-size: 15px;
    width: 60%;
    height: 25px; /* Ajusta la altura según desees */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5%;
    margin: 0.5%;
  }

  .form-phone {
    font-size: 15px;
    width: 40%;
    height: 25px; /* Ajusta la altura según desees */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5%;
    margin: 0.5%;
  }

  .form-message {
    font-size: 15px;
    width: 80%;
    max-width: 95%;
    height: 50px;
    max-height: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5%;
    margin: 0.5%;
  }