:root {
  --primary-color: #b18eb6;
  --secondary-color: #9e8ddb;
  --background-color: #c7b8ff;
  --hover-color: #9e8ddb;
  --text-color: #6a6a6a;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --hover-shadow-color: rgba(0, 0, 0, 0.4);
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: var(--hover-color);
  }

.newsletter {
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
}

.newsletter .title {
    margin-bottom: 1rem;
}

.newsletter .form-inline {
    display: flex;
    justify-content: center;
}

.newsletter .form-inline .form-control {
    width: 30rem;
}
/* Media Queries for responsiveness */
@media (min-width: 576px) {
  .newsletter .form-inline {
    flex-direction: row;
    justify-content: center;
  }

  .newsletter .form-group {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }

  .newsletter .form-group input {
    width: auto;
  }

  .newsletter .btn-primary {
    width: auto;
  }
}
