:root {
  --primary-color: #b18eb6;
  --secondary-color: #9e8ddb;
  --background-color: #c7b8ff;
  --hover-color: #9e8ddb;
  --text-color: #6a6a6a;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --hover-shadow-color: rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--hover-color);
}

.newsletter {
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
}

.newsletter .title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.newsletter .description {
  font-size: 1em;
  margin-bottom: 20px;
}

.newsletter .form-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter .form-group {
  margin-bottom: 10px;
  width: 100%;
}

.newsletter .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter .btn-primary {
  width: auto;
}

/* Media Queries for responsiveness */
@media (min-width: 768px) {
  .newsletter .form-inline {
    flex-direction: row;
    justify-content: center;
  }

  .newsletter .form-group {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }

  .newsletter .form-group input {
    width: auto;
  }

  .newsletter .btn-primary {
    width: auto;
  }

  .newsletter .form-inline .form-control {
    width: 30rem;
  }
}
