:root {
  --primary-color: #b18eb6;
  --secondary-color: #9e8ddb;
  --background-color: #c7b8ff;
  --hover-color: #9e8ddb;
  --text-color: #6a6a6a;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --hover-shadow-color: rgba(0, 0, 0, 0.4);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 1100px;
  color: var(--text-color);
}

.carrito__img {
  width: 10rem;
  border-radius: 1rem;
}

.title {
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.description {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.carrito__comprado,
.carrito__vacio {
  text-align: center;
  margin: 2rem;
  color: var(--primary-color);
  font-weight: 600;
}

.carrito__productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito__producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito__acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito__acciones__der {
  display: flex;
}

.carrito__acciones__total {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.button__eliminar,
.button__vaciar {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: all 400ms ease;
}

.button__vaciar:hover,
.button__eliminar:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.button__cash {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  border-radius: 4px;
  transition: all 400ms ease;
}

.button__cash:hover {
  background-color: var(--hover-color);
  color: #ffffff;
}

.numero-carrito {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
}

.oculto {
  display: none;
}
