



main{
    position: relative;
    height: 100vh;
}

.mi_formulario{
    max-width: 95vh;
    width: 800px;
    min-height: 80vh;
    inset: 0;
    margin: auto;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: var(--sombra)  4px 4px 6px 4px;

}

.titulo{
    text-align:center;
    padding: 5px 0 5px 0;
    border-bottom: 2px solid silver;

}

.formulario{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
    padding: 0;

}

/* paguina login*/

.mi_formulario_login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 60vh;
    min-height: 60vh;
    inset: 0;
    margin: auto;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: var(--sombra) 4px 4px 6px 4px;
   
}



.formulario_login{
    display: block;
    
}

.caja_formulario_recu_cont_login,
.caja_formulario_link_reg_login{
    margin: 30px;
    text-align: center;

}

.caja_formulario_recu_cont_login a,
.caja_formulario_link_reg_login a{
    width: 100%;
    height: 45px;
    line-height: 45%;
    padding: 0 5px;
    color: black;
    text-decoration: none;
    font-size: 18px;

}

.caja_formulario_recu_cont_login a:hover,
.caja_formulario_link_reg_login a:hover{
    color: #6c3483;
}

.caja_formulario_button_login{
    margin:20px;
    margin-left: 20%;

}





/* ------   --------*/

/* estilos de caja del formulario*/

.caja_formulario{
    margin: 2px;
    padding: 0 20px 0;
    width: auto;
    height: auto;
    border:1px;

}

.formulario__grupo{
    position: relative;
    border-bottom:1px solid #adadad;
    margin:30px 0;
    

}

.formulario__grupo input{
    width:100%;
    padding: 0 40px 0 10px;
    height: 40px;
    font-size: 16px;
    border:none;
    background:none;
    outline:none;

}

.formulario__grupo label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#adadad;
    transform: translateY(-50%);
    font-size:16px;
    pointer-events: none;
    transition: .5s; 
}

.formulario__grupo span::before{
    content:'';
    position: absolute;
    top: 40px;
    left:0;
    width: 100%;
    height: 2px;
    background: #6c3483;
    transition: .5s;
    
}


.formulario__grupo input:focus ~ label,
.formulario__grupo input:valid ~ label {
    top: -5px;
    font-size: 12px;
    color:#6c3483;

}

.formulario__grupo input:focus~span::before{
    width:100%;
}




/* estilo Formulario nuevo mensaje de errort*/
.formulario__input-error {
	font-size: 12px;
    color: #F66060;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}


.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}



/* ----- -----  Estilos para Validacion ----- ----- */


.formulario__grupo-correcto {
    border-radius: 10px;
	background:rgba(172, 255, 47, 0.144)
	
}

.formulario__grupo-incorrecto {
    border-radius: 10px;
	background: rgba(255, 1, 1, 0.164);
	
}





.caja_formulario_terminos{
    padding: 10px;
    grid-column: 1 /3;
    grid-row: 4 ;

}

.caja_formulario_button{
    margin:20px;
    margin-left: 20%;
    grid-column: 1 /3;
}

.caja_formulario_mensaje{
    grid-column: 1 /3;
}



.caja_formulario_mensaje_error_login{
    width: auto;
    height: 45px;
    text-align: center;
	line-height: 45px;
    font-size: 16px;
	background: #F66060;
    margin-bottom: 15px;
    padding: 0 5px 0;
	border-radius: 10px;
	display: none;
}

.formulario-mensaje-error {
	display: block;
    
}



.caja_formulario_mensaje_exito_login {
    width: auto;
	height: 45px;
    text-align: center;
	line-height: 45px;
	font-size: 16px;
	color: rgb(53, 24, 61);
    background: #1eff0028;
    margin-bottom: 15px;
	padding: 0 15px 0;
	border-radius: 10px;
	display: none;
   
}

.formulario-mensaje-exito {
	display: block;

}
/* --- ----*/






input[type="submit"]{
    width: 80%;
    height:45px;
    border: 0;
    text-shadow: 1px 1px 1px #000;
    background: #6c3483;
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0));
    border-radius: 10px;
    line-height: 45px;
    font-size: 18px;
    color: white;
    box-shadow: var(--sombra) inset 2px 2px 3px; 
    box-shadow:  rgba(0, 0, 0, 0.6) inset -2px -2px 3px;
    cursor: pointer;
    outline: none;
    
}

input[type="submit"]:hover{
    color:aqua;
    background: #9a68ad;
    transition: all 0.3s ease-in-out;
   
    
}

input[type="submit"]:active{  
    box-shadow: var(--sombra) -2px -2px 3px;
    box-shadow:  rgba(0, 0, 0, 0.6) inset 2px 2px 3px;
    transition: all 0.3s ease-in-out;
    
}

/*pantalla resposive media queris*/

/* Cambia la pantalla de 600 px o menos */
@media (max-width: 600px){
    main {
        height: 70vh;
        
    }
    
    .formulario {
        grid-template-columns: 1fr;


    }

    .caja_formulario_terminos,
    .caja_formulario_button,
    .caja_formulario_mensaje {
        grid-column: 1
    }

    
}

